COMPOSE_PROJECT_NAME=genesis-monitoring
PROJECT_ROOT=/projects/genesis

GRAFANA_DOMAIN=grafana.shellr.net
GRAFANA_PORT=3000
GRAFANA_ADMIN_USER=admin
GRAFANA_ADMIN_PASSWORD=change-grafana-password

PROMETHEUS_PORT=9090
PROMETHEUS_RETENTION=7d
PROMETHEUS_RETENTION_SIZE=1GB

UPTIME_KUMA_PORT=3001
