COMPOSE_PROJECT_NAME=genesis
PROJECT_ROOT=/projects/genesis
APP_IMAGE_REPOSITORY=genesis-app
APP_IMAGE_TAG=manual
DMA_IMAGE_REPOSITORY=genesis-dma
DMA_IMAGE_TAG=manual

APP_NAME=Genesis Inventory
APP_ENV=production
APP_DEBUG=false
APP_URL=https://shellr.net
APP_TIMEZONE=Europe/Berlin

PORTFOLIO_BRAND=shellr
PORTFOLIO_ROLE=DevOps / System Engineer
PORTFOLIO_LOCATION=Germany
PORTFOLIO_CONTACT_EMAIL=admin@shellr.net
PORTFOLIO_GITHUB_URL=
PORTFOLIO_DOCS_URL=https://docs.shellr.net
PORTFOLIO_DMA_URL=https://dma.shellr.net
PORTFOLIO_STATUS_URL=https://status.shellr.net
PORTFOLIO_GRAFANA_URL=https://grafana.shellr.net

DB_DATABASE=genesis_inventory
DB_USERNAME=genesis
DB_PASSWORD=change-app-password
DB_ROOT_PASSWORD=change-root-password
DB_PORT=3306

DMA_DB_NAME=dma
DMA_DB_USER=dma_app
DMA_DB_PASSWORD=change-dma-password
DMA_COOKIE_PATH=/
DMA_RIOT_API_KEY=
DMA_GAME_NAME=
DMA_TAG_LINE=
DMA_REGION_ROUTING=europe
DMA_PLATFORM=euw1
DMA_PRIMEBOT_TEAM_ID=0
DMA_PRIMEBOT_TOKEN=
DMA_MATCH_TIME_TOLERANCE=10800
DMA_MIN_MATCH_DURATION=15
DMA_RIOT_SYNC_COOLDOWN=300
DMA_RIOT_MATCH_COUNT=10

LETSENCRYPT_EMAIL=admin@shellr.net
